body {
  font-family: Arial, Helvetica, sans-serif; }

.container {
  width: 90%;
  margin: 0 auto; }
  .container .film_title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 90%;
    min-height: 3rem;
    margin: 0 auto .5rem auto;
    padding: .3rem 0 .2rem 0;
    color: #38384f;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    border-bottom: 2px solid #38384f; }
  .container .info_box {
    width: 100%;
    margin: 0 auto;
    padding: 0 0;
    overflow-y: scroll; }
    .container .info_box .sub_title {
      width: 80%;
      margin: .2rem auto 0 auto;
      padding: .1rem 0;
      color: #5a5a7c;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 1.1rem;
      letter-spacing: .1rem;
      border-bottom: 1px solid #4c4c6b; }
    .container .info_box p, .container .info_box ul, .container .info_box .rating_box, .container .info_box .image_box {
      width: 75%; }
    .container .info_box p, .container .info_box ul {
      margin: .3rem auto .8rem auto;
      padding: .2rem .4rem .4rem .4rem;
      font-size: 1.1rem;
      line-height: 1.3rem; }
    .container .info_box ul {
      list-style: square;
      list-style-position: inside; }
    .container .info_box .foto_title,
    .container .info_box .rating_title {
      width: 80%; }
    .container .info_box .image_box {
      margin: .4rem auto .8rem auto;
      padding: .4rem .4rem; }
    .container .info_box .film_foto {
      width: 9.2rem;
      margin: 0 auto;
      border: 1px solid #4c4c6b;
      border-radius: 3px; }
    .container .info_box .rating_box {
      display: flex;
      justify-content: start;
      width: 8.2rem;
      margin: .4rem auto .8rem 12.5%;
      padding: .4rem .4rem;
      border: 1px solid rgba(76, 76, 107, 0.25);
      border-radius: 3px; }
    .container .info_box .rating_star {
      width: 1.25rem;
      margin: 0 .18rem; }

.btn_box {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto 0 auto;
  padding: .6rem 0 .4rem 0;
  border-top: 2px solid #38384f; }
  .btn_box button {
    width: 49%;
    height: 2rem;
    padding: .3rem 0 .2rem 0;
    color: #656565;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    letter-spacing: .15rem;
    text-transform: uppercase;
    outline: none;
    border: none; }
  .btn_box .btn_inactive {
    color: rgba(101, 101, 101, 0.6);
    border: 1px dotted #656565;
    border-radius: 6px;
    pointer-events: none; }
  .btn_box .btn_active {
    border: 1px solid #656565;
    border-radius: 6px; }
    .btn_box .btn_active:hover {
      color: white;
      background: #5a5a83;
      background: linear-gradient(180deg, #5a5a83 0%, #5a5a85 15%, #626291 30%, #68689a 45%, #68689a 55%, #626291 70%, #626291 85%, #5a5a83 100%);
      border: 1px solid #5a5a83; }

/*# sourceMappingURL=films.css.map */
