* {
  margin: 0 0;
  padding: 0 0; }

body {
  width: 375px;
  max-width: 375px;
  margin: 0 auto;
  background: #e6e6e6; }

.page_header {
  position: fixed;
  top: 0;
  width: 375px;
  max-width: 375px;
  height: 118px;
  margin: 0 auto;
  overflow: hidden;
  z-index: 10; }
  .page_header .header_box {
    width: 367px;
    max-width: 367px;
    margin: 0 auto;
    padding: 10px 0 5px 0;
    background: #e6e6e6; }
    .page_header .header_box h1 {
      width: 373px;
      max-width: 373px;
      margin: 0 auto;
      padding: 18px 0 12px 0;
      color: #787878;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 800;
      text-align: center;
      transform: translateY(-3em);
      animation: scrollDown 2s forwards;
      animation-delay: 1s; }
    .page_header .header_box nav {
      width: 373px;
      margin: 0 auto;
      padding: 0 0;
      overflow: hidden; }
      .page_header .header_box nav .nav_flex {
        display: flex;
        flex-direction: row;
        width: 333px;
        margin: 0 auto 0 30px; }
        .page_header .header_box nav .nav_flex img {
          margin: 0 auto 0 0;
          padding: 4px 0 0 0;
          transform: translateX(22em); }
        .page_header .header_box nav .nav_flex a {
          margin: 0 auto 0 -8px;
          padding: 0 0;
          color: #328ab2;
          font-family: 'Saira Condensed', sans-serif;
          font-size: 18px;
          letter-spacing: 2px;
          text-decoration: none;
          text-transform: capitalize;
          transform: translateX(22em); }
        .page_header .header_box nav .nav_flex .calender {
          animation: scrollLeft 0.8s forwards;
          animation-delay: 1s; }
        .page_header .header_box nav .nav_flex .dates {
          animation: scrollLeft 1s forwards;
          animation-delay: 1s; }
        .page_header .header_box nav .nav_flex .globe {
          animation: scrollLeft 1.2s forwards;
          animation-delay: 1s; }
        .page_header .header_box nav .nav_flex .tips {
          animation: scrollLeft 1.4s forwards;
          animation-delay: 1s; }
        .page_header .header_box nav .nav_flex .globe_2 {
          animation: scrollLeft 1.6s forwards;
          animation-delay: 1s; }
        .page_header .header_box nav .nav_flex .countries {
          animation: scrollLeft 1.8s forwards;
          animation-delay: 1s; }

main {
  display: flex;
  width: 100%;
  min-height: 848px;
  margin: 108px auto 0 auto;
  overflow: hidden; }
  main form {
    width: 365px;
    max-width: 365px;
    margin: 0 auto;
    padding: 20px 0 0 0;
    background: white;
    border: 1px solid rgba(0, 89, 157, 0.2);
    opacity: 0;
    transform: scale(0.75) translateY(-2em);
    animation: scale_opacity 2.4s forwards;
    animation-delay: 1s; }
    main form .overlay_hidden {
      display: none; }
    main form .overlay_shown {
      display: block;
      position: absolute;
      margin: 0 0;
      top: 0;
      left: 0;
      width: 365px;
      max-width: 365px;
      height: 675px;
      padding: 8px 0;
      background: rgba(139, 176, 208, 0.8);
      z-index: 1; }
    main form .form_header {
      width: 100%;
      margin: 0 auto;
      padding: 0 0; }
      main form .form_header .form_title,
      main form .form_header .form_subtitle {
        width: 100%;
        margin: 0 auto;
        padding: 0 0;
        color: #545454;
        font-family: 'Blinker', sans-serif;
        letter-spacing: 1px;
        text-align: center; }
      main form .form_header .form_title {
        margin: 10px auto 12px auto;
        font-weight: 600; }
      main form .form_header .form_subtitle {
        margin: 0 auto 26px 26px;
        font-weight: 400; }
    main form .explain_signIn_box {
      width: 100%;
      margin: 0 auto;
      padding: 10px 0;
      background: #f4f4f4;
      border-top: 1px solid rgba(0, 89, 157, 0.1);
      border-bottom: 1px solid rgba(0, 89, 157, 0.1); }
      main form .explain_signIn_box .explain_text,
      main form .explain_signIn_box .signIn_text {
        width: 355px;
        max-width: 355px;
        margin: 0 auto;
        font-family: 'Saira Condensed', sans-serif;
        font-size: 15px;
        font-weight: 300;
        letter-spacing: 1px;
        text-align: center;
        line-height: 22px; }
        main form .explain_signIn_box .explain_text a,
        main form .explain_signIn_box .signIn_text a {
          color: #328ab2;
          font-size: 14px;
          font-weight: 600;
          text-decoration: none;
          text-transform: uppercase; }
          main form .explain_signIn_box .explain_text a:hover,
          main form .explain_signIn_box .signIn_text a:hover {
            color: #42b56e; }
    main form .input_box {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      margin: 0 auto;
      padding: 12px 0 8px 0; }
      main form .input_box .personalia {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 370px;
        max-width: 370px;
        margin: 0 auto; }
        main form .input_box .personalia .label {
          display: block;
          width: 92%;
          margin: 14px auto 0 10px;
          color: #545454;
          font-family: 'Encode Sans', sans-serif;
          font-size: 15px;
          font-weight: 600;
          letter-spacing: 1px; }
          main form .input_box .personalia .label .field {
            display: block;
            width: 100%;
            height: 26px;
            margin: 10px auto 4px auto;
            border: 1px solid #0c2c34;
            border-radius: 4px;
            outline: none; }
            main form .input_box .personalia .label .field:focus {
              border-color: #3165ce; }
        main form .input_box .personalia .label_psw {
          display: inline-block;
          margin: 14px auto 4px 10px;
          font-weight: 600;
          letter-spacing: 1px; }
          main form .input_box .personalia .label_psw .password_signs {
            text-align: right;
            float: right; }
            main form .input_box .personalia .label_psw .password_signs img, main form .input_box .personalia .label_psw .password_signs p {
              display: inline-block; }
            main form .input_box .personalia .label_psw .password_signs p {
              color: #6b6b6b;
              margin: 1px 0 0 10px;
              float: right; }
            main form .input_box .personalia .label_psw .password_signs:hover p {
              color: #37b1ad; }
      main form .input_box .pssw_rules {
        width: 100%;
        margin: 10px auto;
        padding: 10px 0;
        background: #f4f4f4;
        border-top: 1px solid rgba(0, 89, 157, 0.1);
        border-bottom: 1px solid rgba(0, 89, 157, 0.1); }
        main form .input_box .pssw_rules .input_required,
        main form .input_box .pssw_rules .pssw_required {
          width: 94%;
          margin: 0 auto;
          font-family: 'Saira', sans-serif;
          font-size: 14px;
          letter-spacing: 1px;
          word-spacing: 1px; }
        main form .input_box .pssw_rules .list_box {
          display: flex;
          flex-direction: row;
          justify-content: center;
          width: 100%;
          margin: 4px auto 0 auto;
          padding: 0 0; }
          main form .input_box .pssw_rules .list_box .left_list,
          main form .input_box .pssw_rules .list_box .right_list {
            width: 46%;
            margin: 0 auto;
            list-style: none;
            list-style-position: inside; }
            main form .input_box .pssw_rules .list_box .left_list li,
            main form .input_box .pssw_rules .list_box .right_list li {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
              font-family: 'Saira', sans-serif;
              font-size: 13px;
              word-spacing: -1px; }
              main form .input_box .pssw_rules .list_box .left_list li img,
              main form .input_box .pssw_rules .list_box .right_list li img {
                width: 8px;
                height: 8px;
                margin: 0 5px; }
              main form .input_box .pssw_rules .list_box .left_list li p,
              main form .input_box .pssw_rules .list_box .right_list li p {
                width: 90%;
                margin: 0 0; }
          main form .input_box .pssw_rules .list_box .right_list {
            width: 44%; }
    main form .subscription {
      width: 100%;
      margin: 6px auto 0 auto; }
      main form .subscription .button_label {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        padding: 4px 0 8px 0; }
        main form .subscription .button_label .button {
          width: 94%;
          height: 50px;
          margin: 0 auto;
          padding: 8px 0;
          color: white;
          font-family: 'Encode Sans', sans-serif;
          font-size: 20px;
          font-weight: 700;
          letter-spacing: 2px;
          word-spacing: 6px;
          background: #1c7eeb;
          background: linear-gradient(180deg, #449bff 0%, rgba(40, 130, 240, 0.9) 20%, rgba(40, 130, 240, 0.9) 80%, #449bff 100%);
          border: 1px solid #00589d;
          border-radius: 4px; }
          main form .subscription .button_label .button:hover {
            color: #fff948;
            background: #289d00;
            background: linear-gradient(180deg, #289d00 0%, #2db811 35%, #27b614 51%, #2db811 66%, #289d00 100%);
            border: 1px solid #289d00; }
      main form .subscription .contact_box {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 84%;
        margin: 0 auto;
        padding: 4px 0 8px 0;
        /* Customize the label */ }
        main form .subscription .contact_box .checkbox_label {
          display: block;
          position: relative;
          width: 8px;
          height: 8px;
          margin: 4px 18px 0 auto;
          float: left;
          cursor: pointer;
          font-size: 22px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          /* Hide the browser's default checkbox */
          /* Create a custom checkbox */
          /* On mouse-over, add a grey background color */ }
          main form .subscription .contact_box .checkbox_label .contact_checkbox {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
            margin: 0 20px 0 0;
            /* When the checkbox is checked, add a blue background */
            /* Show the checkmark when checked */ }
            main form .subscription .contact_box .checkbox_label .contact_checkbox:checked ~ .checkmark {
              background-color: #328ab2; }
            main form .subscription .contact_box .checkbox_label .contact_checkbox:checked ~ .checkmark:after {
              display: block; }
          main form .subscription .contact_box .checkbox_label .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 16px;
            width: 16px;
            background-color: #eee;
            border: 1px solid rgba(0, 88, 157, 0.8);
            border-radius: 4px;
            /* Create the checkmark/indicator (hidden when not checked) */ }
            main form .subscription .contact_box .checkbox_label .checkmark:after {
              content: "";
              position: absolute;
              display: none; }
            main form .subscription .contact_box .checkbox_label .checkmark:after {
              left: 5px;
              top: 3px;
              width: 3px;
              height: 7px;
              border: solid white;
              border-width: 0 3px 3px 0;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
          main form .subscription .contact_box .checkbox_label:hover input ~ .checkmark {
            background-color: #ccc; }
        main form .subscription .contact_box .news_box {
          display: inline-block;
          width: 94%;
          margin: 0 auto 0 auto; }
          main form .subscription .contact_box .news_box .news_text {
            padding: 2px 0 0 0;
            font-family: 'Saira', sans-serif;
            font-size: 15px;
            letter-spacing: 1px;
            line-height: 17px;
            text-align: left; }
    main form .region_selectors {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 352px;
      max-width: 352px;
      margin: 16px auto 0 auto;
      padding: 0 0; }
      main form .region_selectors .green_line {
        height: 1px;
        min-height: 1px;
        max-height: 1px;
        width: 320px;
        margin: 10px auto;
        padding: 0 0;
        background: rgba(0, 100, 50, 0.6); }
      main form .region_selectors .region_text {
        width: 100%;
        margin: 0 auto;
        font-family: 'Saira', sans-serif;
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 22px;
        text-align: center; }
        main form .region_selectors .region_text span {
          margin: 0 auto;
          color: #328ab2;
          font-family: 'Encode Sans', sans-serif;
          font-size: 15px;
          font-weight: 600;
          letter-spacing: 1px;
          text-align: center;
          text-decoration: none; }
      main form .region_selectors .popup_hidden {
        display: none; }
      main form .region_selectors .popup_shown {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 365px;
        max-width: 365px;
        padding: 18px 0 30px 0;
        background: rgba(39, 109, 171, 0.96);
        border-top: none;
        z-index: 2; }
        main form .region_selectors .popup_shown .regiontitel_box {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin: 0 auto;
          padding: 4px 0 8px 0;
          border-bottom: 1px solid #45ba76; }
          main form .region_selectors .popup_shown .regiontitel_box .region_titel {
            width: 250px;
            max-width: 250px;
            margin: 0 0 0 0;
            padding: 0 0;
            font-family: 'Blinker', sans-serif;
            font-family: 'Josefin Sans', sans-serif;
            font-family: 'Saira';
            color: white;
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 4px;
            text-align: left; }
          main form .region_selectors .popup_shown .regiontitel_box .close_img {
            width: 50px;
            height: 36px;
            margin: 0 0 0 20px;
            background: url(../assets/icons/close_white.png) no-repeat;
            background-size: 22px 22px;
            background-position: center; }
            main form .region_selectors .popup_shown .regiontitel_box .close_img:hover {
              background: url(../assets/icons/close_black.png) no-repeat;
              background-size: 22px 22px;
              background-position: center; }
        main form .region_selectors .popup_shown .popup_flex {
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin: 24px 0 8px 0; }
          main form .region_selectors .popup_shown .popup_flex .regions_left {
            width: 160px; }
          main form .region_selectors .popup_shown .popup_flex .regions_right {
            width: 200px; }
          main form .region_selectors .popup_shown .popup_flex .regions_left .region,
          main form .region_selectors .popup_shown .popup_flex .regions_right .region {
            margin-bottom: 4px;
            padding: 2px 0; }
          main form .region_selectors .popup_shown .popup_flex .region input[type=checkbox] {
            width: 16px;
            height: 16px;
            margin: 4px 8px 0 12px;
            outline: none;
            border: 1px solid blue;
            border-radius: 3px;
            float: left; }
          main form .region_selectors .popup_shown .popup_flex .region .land_label {
            color: white;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 1px; }
    main form .terms {
      width: 100%;
      margin: 18px auto 0 auto;
      padding: 6px 0;
      background: #f6f6f6;
      border-top: 1px solid rgba(0, 89, 157, 0.1);
      border-bottom: 1px solid rgba(0, 89, 157, 0.2); }
      main form .terms .terms_text {
        width: 365px;
        max-width: 365px;
        margin: 0 auto;
        padding: 6px 0;
        font-family: 'Saira', sans-serif;
        font-size: 14px;
        letter-spacing: 0px;
        text-align: center; }
        main form .terms .terms_text a {
          padding: 6px 3px;
          color: #328ab2;
          font-weight: 600;
          text-decoration: none; }

footer {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  width: 365px;
  max-width: 365px;
  margin: 0 auto 6px auto;
  padding: 8px 0; }
  footer img {
    width: 8px;
    height: 8px;
    margin: 12px 12px; }
  footer p {
    padding: 0 2px;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    text-align: center; }
    footer p a {
      padding: 6px 3px;
      color: #328ab2;
      font-weight: 600;
      text-decoration: none; }

@keyframes scrollDown {
  from {
    transform: translateY(-3em); }
  to {
    transform: translateY(0); } }
@keyframes scrollLeft {
  0% {
    transform: translateX(22em);
    opacity: 0; }
  80% {
    opacity: 1; }
  100% {
    transform: translateX(0); } }
@keyframes scale_opacity {
  from {
    opacity: 0;
    transform: scale(0.75) translateY(-2em);
    -webkit-transform: scale(0.75) translateY(-2em);
    /*scale: 70%;*/ }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
    -webkit-transform: scale(1) translateY(0);
    /*scale: 100%;*/ } }

/*# sourceMappingURL=stylesheet.css.map */
